#bodisito {
    margin: 0px;
    background-color: rgba(222, 243, 223, 0.753);
}
#navegador {
    position: fixed;
    width: 100%;
    background-color: rgb(5, 80, 30);
    overflow: hidden;
    margin: 0px;
}
#mainRibbon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
}   
#secondRibbon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20%;
}
.elementList {
    margin-right: 80%;
}
.divs {
    padding: 1%;
}
.bloques {
    display: flex;
    justify-content: center;
}
.texto {
    font-size: larger;
    text-align: center;
}
#nombre {
    font-size: 250%;
    font-weight: bold;
}
#foto-perfil {
    margin-top: 5%;
    height: 10%;
    width: 20%;
    border-radius: 400px;
    background-size: contain;
    
}
.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.mybtn {
    border-radius: 40%;
}
#todaInfo {
    margin: 5%;
    padding: 1%;
    background-color: rgba(5, 80, 30, 0.377);
    border-radius: 2em;
}
.mybtnCV {
    padding: 1%;
    font-weight: 400;
    border-radius: 2em;
    background-color: rgb(5, 80, 30);
    color: white;
}
#introYo {
    font-weight: bold;
}
#listilla {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.auxiliar {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.oculto {
    display: none;
}
#educ {
    margin: 0px;
    padding-top: 5%;
}
#lista {
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5%;
    background-color: rgba(5, 80, 30, 0.377);
    border-radius: 2em;
}
#espacio {
    margin: 10%;
}
#entom {
    margin: 0.5%;
}